<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="admin/headerAdmin:: head">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div th:insert="admin/headerAdmin :: header"></div>

<main id="main">
    <!-- ======= Latest News Section ======= -->
    <section class="section-news section-t8">
        <section class="section-news section-t8">
            <div class="grey-bg container-fluid">
                <section id="minimal-statistics">
                    <div class="row">
                        <div class="col-12 mt-3 mb-1">
                            <h4 class="text-uppercase">Wellcome to Admin web phongtromoi.vn</h4>
                            <p>Thống kê của trang web</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-3 col-sm-6 col-12">
                            <div class="card">
                                <div class="card-content">
                                    <div class="card-body">
                                        <div class="media d-flex">
                                            <div class="media-body text-left">
                                                <span> Tổng số người dùng </span>
                                                <h3 class="primary" th:utext="${sumUser}"></h3>
                                            </div>
                                            <div class="align-self-center">
                                                <i class="icon-book-open primary font-large-2 float-right"></i>
                                            </div>
                                        </div>
                                        <div class="progress mt-1 mb-0" style="height: 7px;">
                                            <div class="progress-bar bg-primary" role="progressbar" style="width: 80%"
                                                 aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-sm-6 col-12">
                            <div class="card">
                                <div class="card-content">
                                    <div class="card-body">
                                        <div class="media d-flex">
                                            <div class="media-body text-left">
                                                <span>Tổng số bài đăng cho thuê</span>
                                                <h3 class="warning" th:utext="${sumPost}"></h3>

                                            </div>
                                            <div class="align-self-center">
                                                <i class="icon-bubbles warning font-large-2 float-right"></i>
                                            </div>
                                        </div>
                                        <div class="progress mt-1 mb-0" style="height: 7px;">
                                            <div class="progress-bar bg-warning" role="progressbar" style="width: 35%"
                                                 aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-3 col-sm-6 col-12">
                            <div class="card">
                                <div class="card-content">
                                    <div class="card-body">
                                        <div class="media d-flex">
                                            <div class="media-body text-left">
                                                <span>Tổng số bài đăng tìm trọ </span>
                                                <h3 class="success" th:utext="${sumFindPost}"></h3>

                                            </div>
                                            <div class="align-self-center">
                                                <i class="icon-cup success font-large-2 float-right"></i>
                                            </div>
                                        </div>
                                        <div class="progress mt-1 mb-0" style="height: 7px;">
                                            <div class="progress-bar bg-success" role="progressbar" style="width: 60%"
                                                 aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-sm-6 col-12">
                            <div class="card">
                                <div class="card-content">
                                    <div class="card-body">
                                        <div class="media d-flex">
                                            <div class="media-body text-left">
                                                <span>Tổng số bình luận</span>
                                                <h3 class="danger" th:utext="${sumComment}"></h3>
                                            </div>
                                            <div class="align-self-center">
                                                <i class="icon-direction danger font-large-2 float-right"></i>
                                            </div>
                                        </div>
                                        <div class="progress mt-1 mb-0" style="height: 7px;">
                                            <div class="progress-bar bg-danger" role="progressbar" style="width: 40%"
                                                 aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>


            </div>
        </section>
    </section>
</main>


<div th:insert="footer :: footer"></div>
<script src="/js/home.js"></script>
</body>
</html>