<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:insert="header :: head">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div th:insert="header :: header"></div>
<main id="main">

    <!-- ======= Latest News Section ======= -->
    <section class="section-news section-t8">
        <!-- ======= Property Grid ======= -->
        <section class="property-grid grid">
            <div class="container">
                <div class="row">
                    <div class="title-box">
                        <h2 class="title-a">Danh sách tin đăng</h2>
                    </div>
                    <div class="col-sm-12">
                        <div class="grid-option">
                            <form>
                                <select class="custom-select" id="filter" onchange="filterRoom()">
                                    <option selected value="0"  >Mặc định</option>
                                    <option value="1">Giá giảm dần</option>
                                    <option value="2">Giá tăng dần</option>
                                    <option value="3">Phòng chưa thuê</option>
                                </select>
                            </form>
                        </div>
                    </div>
                    <div class="list-room row">
                    <div class="col-md-4" id="room">
                        <div class="card-box-a card-shadow">
                            <div class="img-box-a">
                                <img src="assets/img/property-1.jpg" alt="" class="img-a img-fluid">
                            </div>
                            <div class="card-overlay">
                                <div class="card-overlay-a-content">
                                    <div class="card-header-a">
                                        <h2 class="card-title-a">
                                            <a href="#">Quận 7
                                                <br /> phường xx</a>
                                        </h2>
                                    </div>
                                    <div class="card-body-a">
                                        <div class="price-box d-flex">
                                            <span class="price-a">Giá |  12.000</span>
                                        </div>
                                        <a href="property-single.html" class="link-a">Click để xem chi tiết
                                            <span class="bi bi-chevron-right"></span>
                                        </a>
                                    </div>
                                    <div class="card-footer-a">
                                        <ul class="card-info d-flex justify-content-around">
                                            <li>
                                                <h4 class="card-info-title">Diện tích</h4>
                                                <span>340m
                          <sup>2</sup>
                        </span>
                                            </li>
                                            <li>
                                                <h4 class="card-info-title">Loại phòng</h4>
                                                <span>Chung cư</span>
                                            </li>
                                            <li>
                                                <h4 class="card-info-title">Ngày đăng</h4>
                                                <span>xx/xx/xxxx</span>
                                            </li>
                                            <li>
                                                <h4 class="card-info-title">Tình trạng</h4>
                                                <span>Còn</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <nav class="pagination-a">
                                <ul class="pagination justify-content-end">
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#" tabindex="-1">
                                            <span class="bi bi-chevron-left"></span>
                                        </a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">1</a>
                                    </li>
                                    <li class="page-item active">
                                        <a class="page-link" href="#">2</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">3</a>
                                    </li>
                                    <li class="page-item next">
                                        <a class="page-link" href="#">
                                            <span class="bi bi-chevron-right"></span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End Property Grid Single-->
    </section><!-- End Latest News Section -->
</main><!-- End #main -->
<div th:insert="footer :: footer"></div>
<script>
    function addRoom(e){
        console.log(e);
        for(const room of e) {

        $(".list-room").append(
            " <div class=\"col-md-4\" id='room'>\n" +
            "                        <div class=\"card-box-a card-shadow\">\n" +
            "                            <div class=\"img-box-a\">\n" +
            "                                <img src=\""+room.images[0].link +"\" alt=\"\" class=\"img-a img-fluid\">\n" +
            "                            </div>\n" +
            "                            <div class=\"card-overlay\">\n" +
            "                                <div class=\"card-overlay-a-content\">\n" +
            "                                    <div class=\"card-header-a\">\n" +
            "                                        <h2 class=\"card-title-a\">\n" +
            "                                            <a th:href=\"@{/rentPosts/"+room.id+"}\">"+room.location.distric+"\n" +
            "                                                <br /> "+ room.location.ward +"</a>\n" +
            "                                        </h2>\n" +
            "                                    </div>\n" +
            "                                    <div class=\"card-body-a\">\n" +
            "                                        <div class=\"price-box d-flex\">\n" +
            "                                            <span class=\"price-a\">Giá | "+ room.price +"  VND</span>\n" +
            "                                        </div>\n" +
            "                                        <a class='link-a' href=\"/rentPosts/"+room.id+"\" >" + "Click để xem chi tiết" + "</a>" +
            "                                            <span class=\"bi bi-chevron-right\"></span>\n" +
            "                                    </div>\n" +
            "                                    <div class=\"card-footer-a\">\n" +
            "                                        <ul class=\"card-info d-flex justify-content-around\">\n" +
            "                                            <li>\n" +
            "                                                <h4 class=\"card-info-title\">Diện tích</h4>\n" +
            "                                                <span>"+room.acreage +"\n" +
            "                          <sup>2</sup>\n" +
            "                        </span>\n" +
            "                                            </li>\n" +
            "                                            <li>\n" +
            "                                                <h4 class=\"card-info-title\">Loại phòng</h4>\n" +
            "                                                <span>"+ room.roomType.name +"</span>\n" +
            "                                            </li>\n" +
            "                                            <li>\n" +
            "                                                <h4 class=\"card-info-title\">Ngày đăng</h4>\n" +
            "                                                <span>"+room.timePost+"</span>\n" +
            "                                            </li>\n" +
            "                                            <li>\n" +
            "                                                <h4 class=\"card-info-title\">Tình trạng</h4>\n" +
            "                                                <span>"+room.status+"</span>\n" +
            "                                            </li>\n" +
            "                                        </ul>\n" +
            "                                    </div>\n" +
            "                                </div>\n" +
            "                            </div>\n" +
            "                        </div>\n" +
            "                    </div>"
        )
        }
    }
    function filterRoom() {
        $("#room").remove();
        var value = document.getElementById("filter").value ;
        if(value==0) {
            fetch('http://localhost:8080/api/rentPosts/listTimePostAsc',{
                method: 'GET',
                headers : {
                    'Content-Type': 'application/json',
                    'Accept': 'application/json'
                }
            })
                .then(res =>res.json())
                .then(data => {
                    for(room of data)
                        addRoom(data)
                })
        }
        if(value==1){
            fetch('http://localhost:8080/api/rentPosts/listPricesAsc',{
                method: 'GET',
                headers : {
                    'Content-Type': 'application/json',
                    'Accept': 'application/json'
                }
            })
                .then(res =>res.json())
                .then(data => {
                        addRoom(data)
                })
        }
        if(value==2){
            fetch('http://localhost:8080/api/rentPosts/listPricesDesc',{
                method: 'GET',
                headers : {
                    'Content-Type': 'application/json',
                    'Accept': 'application/json'
                }
            })
                .then(res =>res.json())
                .then(data => {
                        addRoom(data)
                })
        }
        if(value==3){
            fetch('http://localhost:8080/api/rentPosts/listStatus',{
                method: 'GET',
                headers : {
                    'Content-Type': 'application/json',
                    'Accept': 'application/json'
                }
            })
                .then(res =>res.json())
                .then(data => {
                        addRoom(data)
                })
        }
    }
function loadListRoom() {
    fetch('http://localhost:8080/api/rentPosts/listTimePostAsc',{
        method: 'GET',
        headers : {
            'Content-Type': 'application/json',
            'Accept': 'application/json'
        }
    })
        .then(res =>res.json())
        .then(data => {
            addRoom(data)
        })
}
loadListRoom();
</script>
</body>
</html>