<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head th:insert="header :: head">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div th:insert="header :: header"></div>
<section class="section-news section-t8">
    <div class="container">
        <form th:action="@{/change-password}"  method="POST" >
            <div class="form-group row mt-5">

                <label  class="col-md-2 offset-md-2 col-form-label">Mật khẩu cũ</label>
                <div class="col-md-6">
                    <input type="password" name="old_password" class="form-control" >
                    <p style="color: red" th:text="${error}"></p>
                </div>
            </div>
            <div class="form-group row" style="margin-top: 20px">
                <label  class="col-md-2 offset-md-2 col-form-label">Mật khẩu mới</label>
                <div class="col-md-6">
                    <input type="password" name="password" class="form-control password"  value="">
                </div>
            </div>
            <div class="form-group row" style="margin-top: 20px">
                <label  class="col-md-2 offset-md-2 col-form-label">Nhập lại mật khẩu</label>
                <div class="col-md-6">
                    <input type="password"  class="form-control cf_password" onblur="checkPw()">
                    <p style="color: red" class="message_pw"></p>
                </div>
            </div>
            <div style="margin-top: 20px" class="form-group row">
                <label class="col-md-2 offset-md-2 col-form-label"></label>
                <div class="col-md-6">
                    <input type="submit" value="xác nhận" class="btn btn-primary register">
                </div>
            </div>
        </form>
    </div>
</section>
<div th:insert="footer :: footer"></div>
<script src="/js/login.js"></script>
<script>
    var sussess = [[${success}]]
    if(sussess)
        alert("Đổi mật khẩu thành công")
</script>
</body>
</html>