<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="header :: head">
</head>
<body>
<div th:insert="header :: header"></div>
<section class="section-news section-t8">
    <div class="container">
        <h2>Quản lý bài đăng</h2>
        <br>

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#home">Thuê trọ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#menu1">Tìm trọ</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div id="home" class="container tab-pane active"><br>
                <h3>Danh sách bài đăng</h3>
                <table style="table-layout: fixed" class="table table-hover ">
                    <thead>
                    <tr>
                        <th>STT</th>
                        <th>Loại trọ</th>
                        <th>Giá</th>
                        <th>Địa chỉ</th>
                        <th>Tình trạng</th>
                        <th>Ngày đăng</th>
                        <th>Tác vụ</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="room, state : ${list}" th:class="${room.id}">
                        <td><a th:href="@{'/posts/' + ${room.id}}" th:text="${state.count}"></a></td>
                        <td th:text="${room.roomType.name}"></td>
                        <td th:text="${room.price}"></td>
                        <td th:utext="${room.location.distric}+ ' ,' +${room.location.ward} +', ' +${room.location.detail} "></td>
                        <td th:utext="${room.status}"></td>
                        <td th:utext="${room.timePost}"></td>
                        <td>
                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#check"  th:onclick="'getRoomPopup('+${room.id}+')'">Xóa
                            </button>
                            <a class="btn btn-success" th:href="@{'/posts/' + ${room.id}}">Chi tiết</a>
                            <button th:if="${room.status}=='còn'" type="button" class="btn btn-primary"
                                    th:onclick="'updateStatus('+${room.id}+')'">Đã cho
                                thuê
                            </button>
                            <button th:if="${room.status}!='còn'" type="button" class="btn btn-primary"
                                    th:onclick="'updateStatus('+${room.id}+')'">Cho thuê
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div id="menu1" class="container tab-pane fade"><br>
                <h3>Danh sách bài tìm trọ</h3>
                <table style="table-layout: fixed" class="table table-hover ">
                    <thead>
                    <tr>
                        <th>STT</th>
                        <th>Loại trọ</th>
                        <th>tiêu đề</th>
                        <th>Tình trạng</th>
                        <th>Ngày đăng</th>
                        <th>Tác vụ</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="post, state : ${listPost}" th:class="${post.id}">
                        <td th:text="${post.id}"></td>

                        <td th:text="${post.roomType.name}"></td>

                        <td th:utext="${post.title} "></td>
                        <td th:utext="${post.detail}"></td>
                        <td th:utext="${post.timePost}"></td>
                        <td>
                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#check"
                                    th:onclick="'getPopup('+${post.id}+')'">
                                Xóa
                            </button>
                            <a class="btn btn-success" th:href="@{'/postFindRoom/' + ${post.id}}">Chi tiết</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal fade" id="check" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Bạn có chắc muốn xóa :</h5>
                    </div>
                    <div class="modal-body model-manager">
                        <div class="button-popup">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div th:insert="footer :: footer"></div>
<script>
    function getPopup(idPost) {
        $(".button-popup").remove();
        $(".model-manager").append("<div class=\"button-popup\"> <button type=\"button\" onclick='deletePostFindRoom("+ idPost +")'\" class=\"btn btn-primary\" >Đồng ý</button>\n" +
            "                        <button type=\"button\" class=\"close btn btn-primary\" data-dismiss=\"modal\" aria-label=\"Close\">Hủy</button> </div>")
    }
    function  getRoomPopup (idRoom){
        $(".button-popup").remove();
        $(".model-manager").append("<div class=\"button-popup\"> <button type=\"button\" onclick='deleteRoom("+ idRoom +")'\" class=\"btn btn-primary\" >Đồng ý</button>\n" +
            "                        <button type=\"button\" class=\"close btn btn-primary\" data-dismiss=\"modal\" aria-label=\"Close\">Hủy</button> </div>")
    }
    function deleteRoom(id) {
        fetch('http://localhost:8080/delete/' + id, {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json',
                'Accept': 'application/json'
            }
        })
            .then(res => res.text())
            .then(res => {
                $('.' + res).remove();
                $('.modal').modal('hide');
            })
    }

    function updateStatus(id) {
        window.location.href = "http://localhost:8080/status/" + id;
    }

    function deletePostFindRoom(id) {
        fetch('http://localhost:8080/postFindRoom/delete/' + id, {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json',
                'Accept': 'application/json'
            }
        })
            .then(res => res.text())
            .then(res => {
                $('.' + res).remove();
                $('.modal').modal('hide');
            })
    }

</script>
</body>
</html>
