<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head th:insert="header :: head">
</head>
<body>
<div th:insert="header :: header"></div>
<section class="intro-single">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8">
                <div class="title-single-box">
                    <h2 class="title-single" th:utext="${room.title}"></h2>
                </div>
            </div>
        </div>
    </div>
</section><!-- End Intro Single-->

<!-- ======= Property Single ======= -->
<section class="property-single nav-arrow-b">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div id="property-single-carousel" class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        <th:block th:each="image : ${room.images}">
                            <div class="swiper-slide ">
                                <img th:src="@{${image.link}}" alt="">
                            </div>
                        </th:block>
                    </div>
                </div>
                <div class="property-single-carousel-pagination carousel-pagination"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">

                <div class="row justify-content-between">
                    <div class="col-md-6 col-lg-5">
                        <div class=" d-flex justify-content-center foo">
                            <div class="card-title-c align-self-center">
                                <h5 class="title-c" th:text="${room.price} + 'VND/tháng'"> </h5>
                            </div>
                        </div>
                        <div class="property-summary">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="title-box-d section-t4">
                                        <h3 class="title-d">Thông tin</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="summary-list">
                                <ul class="list">

                                    <li class="d-flex justify-content-between">
                                        <strong>Địa chỉ:</strong>
                                        <span th:utext="${room.location.distric}+ ' ,' +${room.location.ward} +', ' +${room.location.detail} "></span>
                                    </li>
                                    <li class="d-flex justify-content-between">
                                        <strong>Loại phòng:</strong>
                                        <span th:utext="${room.roomType.name}"></span>
                                    </li>
                                    <li class="d-flex justify-content-between">
                                        <strong>Tình trạng:</strong>
                                        <span th:utext="${room.status}"></span>
                                    </li>
                                    <li class="d-flex justify-content-between">
                                        <strong>Diện tích:</strong>
                                        <span th:utext="${room.acreage} + 'm'">
                          <sup>2</sup>
                        </span>
                                    </li>
                                    <li class="d-flex justify-content-between">
                                        <strong>Ngày đăng:</strong>
                                        <span th:utext="${room.timePost}"></span>
                                    </li>
                                    <li class="d-flex justify-content-between">
                                        <strong>Đối tượng cho thuê:</strong>
                                        <span th:utext="${room.sex}"></span>

                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 section-md-t3">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="title-box-d">
                                    <h3 class="title-d">Mô tả chi tiết</h3>
                                </div>
                            </div>
                        </div>
                        <div class="property-description">
                            <p th:utext="${room.detail}" class="description color-text-a">

                            </p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row section-t3">
                    <div class="col-sm-12">
                        <div class="title-box-d">
                            <h3 class="title-d">Người cho thuê</h3>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-6 col-lg-5">
                        <div class="property-agent">
                            <h4 class="title-agent" th:utext="${room.user.name}"></h4>

                            <ul class="list-unstyled">
                                <li class="d-flex justify-content-between">
                                    <strong>Phone:</strong>
                                    <span class="color-text-a" th:utext="${room.user.phone}" ></span>
                                </li>
                                <li class="d-flex justify-content-between">
                                    <strong>Email:</strong>
                                    <span class="color-text-a" th:utext="${room.user.email}"></span>
                                </li>
                                <li class="d-flex justify-content-between">
                                    <strong>Facebook:</strong>
                                    <span class="color-text-a" th:utext="${room.user.facebook}"></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>
    </div>
</section><!-- End Property Single-->
<!-- ======= Latest Properties Section ======= -->
<section class="section-news section-t8">
<section class="property-grid grid">
    <div class="container">
        <div class="row">
            <div class="title-box">
                <h2 class="title-a">Bài viết tương tự</h2>
            </div>
            <div class="list-room row">
                <p th:if="${room.images.size == 0}" >Hiện không có bài viết</p>
                <th:block  th:each="room : ${list}">
                    <div class="col-md-4 room" id="room">
                        <div class="card-box-a card-shadow">
                            <div class="img-box-a">
                                <img th:if="${room.images.size == 0}" src="/images/noimage.png"  class="img-a img-fluid">
                                <img th:if="${room.images.size != 0}" th:src="${room.images[0].link}" alt="" class="img-a img-fluid">
                            </div>
                            <div class="card-overlay">
                                <div class="card-overlay-a-content">
                                    <div class="card-header-a">
                                        <h2 class="card-title-a">
                                            <a href="#" th:utext="${room.location.distric}">
                                            </a> <br/>
                                            <a th:utext="${room.location.ward}"></a>
                                        </h2>
                                    </div>
                                    <div class="card-body-a">
                                        <div class="price-box d-flex">
                                            <span class="price-a" th:utext="'Giá | '+ ${room.price} + ' VND'"></span>
                                        </div>
                                        <a th:href="@{'/posts/' + ${room.id}}" class="link-a">Click để xem chi tiết
                                            <span class="bi bi-chevron-right"></span>
                                        </a>
                                    </div>
                                    <div class="card-footer-a">
                                        <ul class="card-info d-flex justify-content-around">
                                            <li>
                                                <h4 class="card-info-title">Diện tích</h4>
                                                <span th:text="${room.acreage} +'m'" >

                        </span><sup>2</sup>
                                            </li>
                                            <li>
                                                <h4 class="card-info-title">Loại phòng</h4>
                                                <span  th:utext="${room.roomType.name}"></span>
                                            </li>
                                            <li>
                                                <h4 class="card-info-title">Ngày đăng</h4>
                                                <span th:utext="${room.timePost}"></span>
                                            </li>
                                            <li>
                                                <h4 class="card-info-title">Tình trạng</h4>
                                                <span th:utext="${room.status}"></span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </th:block>
            </div>
        </div>
    </div>
</section>
</section><!-- End Property Grid Single-->
</main><!-- End #main -->
<div th:insert="footer :: footer"></div>
<script>
    var swiper = new Swiper(".mySwiper", {
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
    });
</script>
</body>
</html>
